img {
    width: 50%;
    height: 50%;
}
.dadosGerais__info{
    font-family: 'Montserrat', sans-serif;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dadosGerais__texto{
    font-family: 'Montserrat', sans-serif;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}